<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skytakeaway.server.mapper.UserMapper">
    <update id="updateUser">
        update user_table
        <set>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="avatar != null">avatar = #{avatar}</if>
        </set>
        where id = #{id}
    </update>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from user_table
        <where>
            <if test="begin != null">
                and create_time &gt; #{begin}
            </if>
            <if test="end != null">
                and create_time &lt; #{end}
            </if>
        </where>
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into user_table (create_time, email_address, user_name, phone, avatar)
        values (#{createTime}, #{emailAddress}, #{userName}, #{phone}, #{avatar})
    </insert>
</mapper>